
.col-md-4.image-div {
  position: relative;
  margin: 10vh 0;
}

.imageHover {
  position: absolute;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: xx-large;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 0 10px;
}