@import './colors';
@import './header';
@import './carousel';
@import 'forms';
@import 'tommap';
@import 'home';
@import 'contact';
@import 'admin';

.spv-container{
  padding: 50px 0;
}

h1, h5{
  color: #a54f23;
}

.alert{ 
  background-color: $blue-green-text;
  &.alert-success{
    color: $brown;
    font-weight: 500;
  }
}